<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Removing Duplicates**

Estimated time needed: **30** minutes

## Introduction

In this lab, you will focus on data wrangling, an important step in preparing data for analysis. Data wrangling involves cleaning and organizing data to make it suitable for analysis. One key task in this process is removing duplicate entries, which are repeated entries that can distort analysis and lead to inaccurate conclusions.

## Objectives

In this lab you will perform the following:

1. Identify duplicate rows  in the dataset.
2. Use suitable techniques to remove duplicate rows and verify the removal.
3. Summarize how to handle missing values appropriately.
4. Use ConvertedCompYearly to normalize compensation data.

### Install the Required Libraries

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (3.0.0)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

### Step 1: Import Required Libraries

In [2]:
import pandas as pd

### Step 2: Load the Dataset into a DataFrame

load the dataset using pd.read_csv()

In [3]:
# Define the URL of the dataset
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

# Load the dataset into a DataFrame
df = pd.read_csv(file_path)

# Display the first few rows to ensure it loaded correctly
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

**Note: If you are working on a local Jupyter environment, you can use the URL directly in the <code>pandas.read_csv()</code>  function as shown below:**

#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv")

### Step 3: Identifying Duplicate Rows

**Task 1: Identify Duplicate Rows**
  1. Count the number of duplicate rows in the dataset.
  2. Display the first few duplicate rows to understand their structure.

In [4]:
df.shape

(65437, 114)

In [5]:
## Write your code here
dup=df.duplicated()

print('number of duplicated rows:', dup.sum())

df[dup].head(10)

number of duplicated rows: 0

Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

### Step 4: Removing Duplicate Rows

**Task 2: Remove Duplicates**
   1. Remove duplicate rows from the dataset using the drop_duplicates() function.
2. Verify the removal by counting the number of duplicate rows after removal .

In [6]:
## Write your code here

df.drop_duplicates(inplace=True)

dup_after_removal=df.duplicated()

print('number of duplicated rows:', dup_after_removal.sum())

df.shape

number of duplicated rows: 0

(65437, 114)

### Step 5: Handling Missing Values

**Task 3: Identify and Handle Missing Values**
   1. Identify missing values for all columns in the dataset.
   2. Choose a column with significant missing values (e.g., EdLevel) and impute with the most frequent value.

In [7]:
## Write your code here

empty_df=df.isnull()

for col in empty_df:
    null_value=empty_df[col].sum()
    print(col, null_value)

ResponseId 0
MainBranch 0
Age 0
Employment 0
RemoteWork 10631
Check 0
CodingActivities 10971
EdLevel 4653
LearnCode 4949
LearnCodeOnline 16200
TechDoc 24540
YearsCode 5568
YearsCodePro 13827
DevType 5992
OrgSize 17957
PurchaseInfluence 18031
BuyNewTool 20256
BuildvsBuy 22079
TechEndorse 21769
Country 6507
Currency 18753
CompTotal 31697
LanguageHaveWorkedWith 5692
LanguageWantToWorkWith 9685
LanguageAdmired 14565
DatabaseHaveWorkedWith 15183
DatabaseWantToWorkWith 22879
DatabaseAdmired 26880
PlatformHaveWorkedWith 23071
PlatformWantToWorkWith 30905
PlatformAdmired 34060
WebframeHaveWorkedWith 20276
WebframeWantToWorkWith 26902
WebframeAdmired 30494
EmbeddedHaveWorkedWith 43223
EmbeddedWantToWorkWith 47837
EmbeddedAdmired 48704
MiscTechHaveWorkedWith 25994
MiscTechWantToWorkWith 32473
MiscTechAdmired 35841
ToolsTechHaveWorkedWith 12955
ToolsTechWantToWorkWith 19353
ToolsTechAdmired 21440
NEWCollabToolsHaveWorkedWith 7845
NEWCollabToolsWantToWorkWith 13350
NEWCollabToolsAdmired 14726
OpSysPersonal use 7263
OpSysProfessional use 12464
OfficeStackAsyncHaveWorkedWith 17344
OfficeStackAsyncWantToWorkWith 26471
OfficeStackAsyncAdmired 28233
OfficeStackSyncHaveWorkedWith 9892
OfficeStackSyncWantToWorkWith 18726
OfficeStackSyncAdmired 20725
AISearchDevHaveWorkedWith 20984
AISearchDevWantToWorkWith 28736
AISearchDevAdmired 29894
NEWSOSites 5151
SOVisitFreq 5901
SOAccount 5877
SOPartFreq 20200
SOHow 6475
SOComm 6274
AISelect 4530
AISent 19564
AIBen 28543
AIAcc 28135
AIComplex 28416
AIToolCurrently Using 30365
AIToolInterested in Using 34746
AIToolNot interested in Using 41023
AINextMuch more integrated 51999
AINextNo change 52939
AINextMore integrated 41009
AINextLess integrated 63082
AINextMuch less integrated 64289
AIThreat 20748
AIEthics 23889
AIChallenges 27906
TBranch 20960
ICorPM 35636
WorkExp 35779
Knowledge_1 36773
Knowledge_2 37416
Knowledge_3 37342
Knowledge_4 37407
Knowledge_5 37557
Knowledge_6 37573
Knowledge_7 37659
Knowledge_8 37679
Knowledge_9 37802
Frequency_1 37068
Frequency_2 37073
Frequency_3 37727
TimeSearching 36526
TimeAnswering 36593
Frustration 37186
ProfessionalTech 37673
ProfessionalCloud 36946
ProfessionalQuestion 36630
Industry 36579
JobSatPoints_1 36113
JobSatPoints_4 36044
JobSatPoints_5 36026
JobSatPoints_6 35987
JobSatPoints_7 35989
JobSatPoints_8 35981
JobSatPoints_9 35981
JobSatPoints_10 35987
JobSatPoints_11 35992
SurveyLength 9255
SurveyEase 9199
ConvertedCompYearly 42002
JobSat 36311

In [8]:
before=df['EdLevel'].isnull().sum()

education_mode=df['EdLevel'].mode()[0]
print('most frequent value in EdLevel:',education_mode)

df['EdLevel']=df['EdLevel'].fillna(education_mode)

after=df['EdLevel'].isnull().sum()

print('EdLevel before impute with the most frequent value:', before,
      '\n EdLevel after impute with the most frequent value:', after)

most frequent value in EdLevel: Bachelor’s degree (B.A., B.S., B.Eng., etc.)
EdLevel before impute with the most frequent value: 4653
 EdLevel after impute with the most frequent value: 0

### Step 6: Normalizing Compensation Data

**Task 4: Normalize Compensation Data Using ConvertedCompYearly**
   1. Use the ConvertedCompYearly column for compensation analysis as the normalized annual compensation is already provided.
   2. Check for missing values in ConvertedCompYearly and handle them if necessary.

In [9]:
## Write your code here

missing_compensation=df['ConvertedCompYearly'].isnull()

print('missing values in ConvertedCompYearly column:', missing_compensation.sum())

missing values in ConvertedCompYearly column: 42002

because over 60% of the records are NaN, filling these values with the average or mode would be unreliable. For further compensation analysis dropping these rows is better solution.

In [10]:
df_for_compensation=df.dropna(subset='ConvertedCompYearly', axis=0)
df_for_compensation.reset_index().shape

(23435, 115)

### Step 7: Summary and Next Steps

**In this lab, you focused on identifying and removing duplicate rows.**

- You handled missing values by imputing the most frequent value in a chosen column.

- You used ConvertedCompYearly for compensation normalization and handled missing values.

In [11]:
df.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

In [12]:
df_for_compensation.describe()

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,23435.000000,2.343500e+04,16144.00000,16120.000000,16153.000000,16165.000000,16185.000000,16187.000000,16190.000000,16185.000000,16188.000000,16185.000000,2.343500e+04,16075.000000
mean,20382.785364,2.447967e+07,11.12308,18.409646,7.418142,9.796953,25.105968,23.309900,20.692637,16.485314,10.860900,9.794656,8.615529e+04,6.914090
std,11678.143998,6.834232e+08,8.88295,25.229052,17.978830,21.282292,26.503119,26.380014,25.751086,24.479139,22.515066,21.275002,1.867570e+05,2.105828
min,73.000000,1.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,10080.000000,5.800000e+04,4.00000,0.000000,0.000000,0.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,20372.000000,1.075000e+05,9.00000,10.000000,0.000000,0.000000,20.000000,15.000000,10.000000,10.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,30219.500000,2.500000e+05,15.00000,20.000000,5.000000,10.000000,30.000000,30.000000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,41188.000000,5.000000e+10,50.00000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

<!--
## Change Log

|Date (YYYY-MM-DD)|Version|Changed By|Change Description|
|-|-|-|-|
|2024-11-05|1.2|Madhusudhan Moole|Updated lab|
|2024-09-24|1.1|Madhusudhan Moole|Updated lab|
|2024-09-23|1.0|Raghul Ramesh|Created lab|

--!>

Copyright © IBM Corporation. All rights reserved.